<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {styles}
    </head>
    <body>
        {nav}
        <br><br>

        <h2>Enhorabuena, el producto: <span style="font-weight:bold;">{product_name}</span>,
            ha sido agregado a tu CESTA!</h2>
        <br><br>
        <h3>Volver a <a href="/home">HOME</a></h3>
        <br><br>
        <h3>Ir a tu <a href="/shoppingcart/show">CESTA</a></h3>
        <br><br>
        <h3><a href="/shop">Vuelve a la tienda para agregar mas productos!</a></h3>
    </body>
</html>