<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {styles}
    </head>
    <body>
        {nav}
        <br><br>

        <h2>Great, the product <span style="font-weight:bold;">{product_name}</span>,
            with price <span style="font-weight:bold;">{product_price}</span>
            was
            added to the Data Base!</h2>

        <h3>Back to <a href="/home">HOME</a></h3>
        <h3><a href="/product/db/add">Add anothe Product</a></h3>
    </body>
</html>