<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LaMarinaMall</title>

        {styles}

    </head>

    <body>
        {nav}

        <h1>Listado de productos</h1>

        <table>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th></th>
            </tr>
            {products}
            {empty_shop}
        </table>

    </body>

</html>
